@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap");
* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
html {
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.site-logo {
    font-size: 25px;
    margin-left: 30px;
}
body {
    background: #D7D7D7;
    color: rgb(172, 209, 205);
    font-family: "Nunito";
    height: 100vh;
}

header {
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(./assets/pexels-anthony-\)-794494.jpg) center/ cover no-repeat fixed;
}
/*headers for all the additional pages throughout the site*/
.serv-header {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(./assets/pexels-jonathan-meyer-752484.jpg) center/ cover no-repeat fixed;
}
.contact-header{
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(./assets/pexels-pixabay-417344.jpg) center/ cover no-repeat fixed;
    height: 100vw;
}
.project-header {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(./assets/pexels-suzy-hazelwood-1629236.jpg) center/ cover no-repeat fixed; 
}

.projects {
    animation-name: polygon-out-opposing-corners;
    animation-duration: 3s;
}

#services {
    background-image: linear-gradient(90deg,#ffbe0b 0,#ff0075 31.19%,#0076ff 68.63%,#3bdcff);
    animation-name: wipe-in-down;
    animation-duration: 2s;
}
.navbar-area {
    background: rgba(0,0,0,.6);
    border-bottom: 1px solid #000;
    height: 60px;
    position: sticky;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}
nav ul li {
    list-style: none;
    display: inline-block;
    margin: 0 8px;
}

nav a {
    color: rgb(121, 157, 197);
    font-size: 16px;
    text-decoration: none;
}

nav ul li a {
    color: #fff;
    padding: 15px;
    display: block;
    text-decoration: none;
}
nav ul li a.btn,
.reset,
.submit {
    color:rgb(121, 157, 197);
    display: inline-block;
    text-align: center;
    width: 100%;
    padding: 8px;
    border:2px solid rgb(121, 157, 197);
    border-radius: 20px;
    background-color:#562856;
}
nav ul li a.btn:hover,
.reset:hover,
.submit:hover {
    background-color: #808080;
    border: 2px solid navy;
    color: navy;
    font-weight: 900;
}
nav ul li a:hover {
    background: rgba(255,255,255,.1);
    font-weight: 800;
    transition: ease-in .5s;
}
  
.nav-toggler {
    border: 3px solid #fff;
    padding: 2px;
    background-color: transparent;
    cursor: pointer;
    height: 30px;
    display: none;
    position: relative;
    left: 30px
}
  .nav-toggler span, 
  .nav-toggler span:before, 
  .nav-toggler span:after {
    width: 28px;
    height: 3px;
    background-color: #fff;
    display: block;
    transition: .3s;
  }
  .nav-toggler span:before {
    content: '';
    transform: translateY(-9px);
  }
  .nav-toggler span:after {
    content: '';
    transform: translateY(6px);
  }
  .nav-toggler.toggler-open span {
    background-color: transparent;
  }
  .nav-toggler.toggler-open span:before {
    transform: translateY(0px) rotate(45deg);
  }
  .nav-toggler.toggler-open span:after {
    transform: translateY(-3px) rotate(-45deg);
}
nav a:hover {
    color: rgb(172, 209, 205);
}
.banner {
    color: #fff;
    flex: 1;
    display: flex;
    font-size: 20px;
    flex-direction: column;
    text-align: left;
    margin: 50px;
    position: absolute;
    top: 30%;
}
.banner article p {
    padding-top: 20px;
}
.button {
    background-color: #808080;
    border: 2px solid navy;
    border-radius: 30px;
    color: navy;
    cursor: pointer;
    font-weight: 900;
    padding: 8px;
    margin-top: 20px; 
    text-decoration: none;
}

.button:hover {
    border:2px solid rgb(121, 157, 197);
    border-radius: 20px;
    background-color:#562856;
    color:rgb(121, 157, 197);
    cursor: pointer; 
    transition: ease-in-out .5s;
}
h2 {
    color:rgb(68, 143, 209);
    margin: 30px;
    text-align: center;
}
.cards {
    display: flex;
}
.cards .card {
    animation: slidein 3s;
    animation-delay: 10s;
    border-image: linear-gradient(aquamarine, blueviolet) 30;
    border-width: 4px;
    border-style: solid;
    box-shadow: 10px 10px 10px;
    background: #808080;
    cursor: pointer;
    margin: 10px;
    padding: 20px;
    width: 400px;
}
.cards .card:hover {
    transform: scale(1.1);
}
.cards .card img {
    height: 150px;
    width: 150px;
}
.about {
    margin: 50px;
}
.about .icon {
    animation: wipe-in-up 3s ease-in-out;
    animation-delay: 5s;
    background: rgb(164, 191, 222);
    border-radius: 50px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.17);
    display: flex;
    margin: 20px
}
.icon h3 {
    color: #808080;
    margin: 15px 0;
    width: 400px;
}
.icon p {
    color:rgb(139, 0, 139);
    width: 400px
}
.about img {
    border-radius: 50px;
    width: 250px
}
.about figcaption {
    color:#562856;
}
.blocks {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.block {
    position: relative;
}
.block img {
    border-radius: 20px;
    max-width: 500px;

}
.block:nth-child(1) {
    animation: slideout 2s; 
}
.block:nth-child(2) {
    animation: slideout 4s;
}
.block:nth-child(3) {
    animation: slideout 6s;
}
.block:nth-child(4) {
    animation: slideout 8s;
}
.block:nth-child(5) {
    animation: slideout 10s;

}
.footer {
    background: aquamarine;
    color:rgba(0, 0, 0, 0.4);
    font-weight: 800;
    text-align: center;
}

/*contact page styling*/
form > legend {
    padding: 20px;
}
form {
    background: rgba(0, 0, 0, 0.17);
    border-radius: 30px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    box-shadow: 3px 3px 3px 3px #808080;
    display: flex;
    flex-direction: column;
    max-width: 500px;
    position: relative;
    top: 50px;
    animation-name: circle-in-hesitate;
    animation-duration: 2s;
}
form input,
textarea {
    border: none;
    border-bottom: 2px solid rgba(0,0,0,.6);
    border-radius: 8px;
    background-color: rgba(42, 139, 143, 0.17);
    margin: 10px 0;
    outline: none;
    padding: 10px;
    position: relative;
    width: 400px;
}
input:hover,
textarea:hover {
    border: 1px dashed rgb(172, 209, 205)
}
::placeholder {
    color: rgb(121, 157, 197);
}
.form-buttons {
    display: flex;
}
.reset,
.submit {
    margin: 5px;
}

@keyframes wipe-in-up {
    from {
      clip-path: inset(100% 0 0 0);
    }
    to {
      clip-path: inset(0 0 0 0);
    }
  }
  
  [transition-style="in:wipe:up"] {
    animation: 2.5s cubic-bezier(.25, 1, .30, 1) wipe-in-up both;
  }
  
  [transition-style="in:circle:center"] {
    animation: 2.5s cubic-bezier(.25, 1, .30, 1) circle-in-center both;
  }

@keyframes square-in-hesitate {
    0% {
      clip-path: inset(100% 100% 100% 100%);
    }
    40% {
      clip-path: inset(33% 33% 33% 33%);
    }
    100% {
      clip-path: inset(0 0 0 0);
    }
  }
  
  [transition-style="in:square:hesitate"] {
    animation: 2.5s cubic-bezier(.25, 1, .30, 1) square-in-hesitate both;
  }

@keyframes slidein {
    from {
      margin-left: 100%;
      transform: rotate(0deg);
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      transform: rotate(360deg);
      width: 100%;
    }
    
  }

@keyframes slideout {
    from {
        margin-right: 0%;
        transform: rotate(360deg);
        width:100%;
    }

    to {
        margin-right: 100%;
        transform: rotate(0deg);
        width: 300%;
    }
}

    @keyframes circle-in-hesitate {
        0% {
          clip-path: circle(0%);
        }
        40% {
          clip-path: circle(40%);
        }
        100% {
          clip-path: circle(125%);
        }
      }
      
      [transition-style="in:circle:hesitate"] {
        animation: 2.5s cubic-bezier(.25, 1, .30, 1) circle-in-hesitate both;
      }

    @keyframes polygon-out-opposing-corners {
        from {
          clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0);
        }
        to {
          clip-path: polygon(0 0, 50% 50%, 100% 100%, 50% 50%);
        }
        from {
            clip-path: polygon(0 0, 50% 50%, 100% 100%, 50% 50%);
          }
          to {
            clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0);
          }
      }
      
      [transition-style="out:polygon:opposing-corners"] {
        animation: 1.5s cubic-bezier(.25, 1, .30, 1) polygon-out-opposing-corners both;
      }
      
      [transition-style="in:polygon:opposing-corners"] {
        animation: 1.5s cubic-bezier(.25, 1, .30, 1) polygon-in-opposing-corners both;
      }

@media screen and (max-width: 765px) {
    .about .icon {
        animation: circle-in-hesitate 2s;
        animation-delay: 5s;
    }
    .about figcaption {
        font-size: 14px;
        padding: 20px;
    }
    .about article {
        display: none;
    }
    .about article:hover {
        display:block;
    }
    .site-logo {
        position: sticky;
        border: 1.5px dashed rgb(68, 143, 209);
        padding:3px;
        box-shadow: 2px 2px 2px;
    }
    .container {
      max-width: 720px;
    }
    .nav-toggler{
      display: block;
    }
    nav {
      min-height: 60px;
      padding: 20px;
    }
    nav ul {
      position: absolute;
      width: 100%;
      height: calc(100vh - 60px);
      left: 0;
      top: 60px;
      flex-direction: column;
      background-color: rgb(172, 209, 205);
      border-radius: 10px;
      max-height: 0;
      overflow: hidden;
      transition: .3s;
    }
    nav ul li {
      width: 100%;
      text-align: center;
    }
    nav ul li a {
        color: rgb(139, 0, 139);
    }
    nav ul li a.btn {
        color:rgb(68, 143, 209);
        width: 50%;
    }
    nav ul li:hover {
        background-color: rgb(68, 143, 209);
        width: 100%;
    }
    nav ul.open {
      max-height: 50vh;
      overflow: visible;
    } 
    .banner {
        font-size: 16px;
        margin: 10px;
    }
    .cards {
        flex-direction: column;
    }
    .cards .card {
        padding: 10px;
        width: min(95%, 700px)
    }
    form > legend > h2 {
        font-size: 16px;
    }
  }

@media screen and (max-width: 600px) {
    .cards .card {
        width: min(95%, 580px)
    }
    form {
        max-width: 300px;
        padding: 8px;
    }
    form input,
    textarea {
        max-width: 280px;
    }
    .blocks {
        display: flex;
        flex-direction: column;
    }
    .block img{
        animation: square-in-hesitate 5s;
        margin-left: 10px;
        width: min(95%, 580px)
    }
    
}
@media screen and (min-width: 1440px) {
    .cards .card {
        width: min(50%, 600px);
    }
}
